<!--
  Copyright (C) 2015, Jaguar Land Rover

  This program is licensed under the terms and conditions of the
  Mozilla Public License, version 2.0.  The full text of the
  Mozilla Public License is at https://www.mozilla.org/MPL/2.0/
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.genivi.rvi">

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <application android:allowBackup="true"
                 android:label="@string/app_name"
            >

    </application>

</manifest>
